[package]
name = "prima_bridge"
version = "0.2.1"
authors = ["Matteo Giachino <matteog@gmail.com>"]
edition = "2018"
license = "MIT"
description = "A library to implement the bridge pattern"
repository = "https://github.com/primait/bridge.rs"
readme = "README.md"

[features]
default = ["async", "tracing_opentelemetry"]
blocking = ["reqwest/blocking"]
async = ["reqwest", "futures", "futures-util", "tokio", "tokio-test"]
tracing_opentelemetry = ["opentelemetry", "tracing", "tracing-opentelemetry"]

[dependencies]
reqwest = { version = "0.10.6", features = ["json", "blocking"], optional = true }
serde = { version = "1.0.114", features = ["derive"] }
serde_json = "1.0.55"
thiserror = "1.0.20"
uuid = { version = "^0.7", features = ["serde", "v4"] }
futures = { version = "0.3.5", optional = true }
futures-util = { version = "0.3.5", optional = true }
tokio = { version = "0.2", features = ["macros"], optional = true }
tokio-test = { version = "0.2", optional = true }
opentelemetry = { version = "0.8.0", optional = true }
tracing = { version = "0.1.19", optional = true }
tracing-opentelemetry = { version = "0.7.0", optional = true }
async-trait = "0.1.41"

[dev-dependencies]
mockito = "0.25.2"
